:root {
  --color-main: #281e1c;
  --color-main-inverted: #fffffb;
  --color-accent: #82af4d;
  --color-accent-light: #edf8db;
  --color-accent-dark: #79a348;
  --color-gray-light: #efefef;
  --color-gray-middle: #c9ccc2;
  --color-gray-dark: #999c93;
}
