:root {
  --color-main: #281e1c;
  --color-main-inverted: #fffffb;
  --color-accent: #82af4d;
  --color-accent-middle: #cfe79a;
  --color-accent-dark: #6f9346;
  --color-gray-light: #edeeea;
  --color-gray-middle: #c9ccc2;
  --color-gray-dark: #999c93;
}
