:root {
  --color-main: #281e1c;
  --color-main-inverted: #fffffb;
  --color-accent: #82af4d;
  --color-accent-light: #f2faee;
  --color-accent-dark: #79a348;
  --color-gray-extralight: #f8f8f8;
  --color-gray-light: #efefef;
  --color-gray-middle: #e0e0e0;
  --color-gray-dark: #999c93;
  --height-header: 72px;
}
