.outer {
  position: relative;
  display: flex;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sidebar {
  position: sticky;
  top: var(--height-header);
  flex: 0 0 240px;
  align-self: flex-start;
}

.main {
  flex: 1 1 auto;
}
