.outer {
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: 24px;
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 24px;
  cursor: auto;

  @each $textPosition, $value in ('center' center, 'left' flex-start, 'right' flex-end) {
    &_text-#{$textPosition} {
      justify-content: $value;
    }
  }

  $sizes:
    's' 4px 8px 12px 4px 4px,
    'm' 6px 14px 13px 8px 8px,
    'l' 10px 18px 15px 12px 8px;
  @each $sizeName, $padding-v, $padding-h, $font-size, $border-radius, $gap in $sizes {
    &_size-#{$sizeName} {
      gap: $gap;
      padding: $padding-v $padding-h $padding-v $padding-h;
      font-size: $font-size;
      border-radius: $border-radius;

      &.outer_rounded {
        border-radius: 90px;
      }

      &.outer_iconOnly {
        padding-right: $padding-v;
        padding-left: $padding-v;
      }
    }
  }

  $variants:
    'primary' var(--color-main-inverted) var(--color-main) var(--color-main)
      var(--color-main-inverted) var(--color-main) var(--color-gray-light),
    'accent' var(--color-main-inverted) null var(--color-accent) var(--color-accent-dark)
      var(--color-accent) var(--color-accent-dark),
    'secondary' var(--color-main) var(--color-main-inverted) var(--color-main-inverted)
      var(--color-main) var(--color-gray-light) var(--color-main),
    'text' inherit null transparent var(--color-gray-extralight) transparent
      var(--color-gray-extralight);
  @each $variant, $color, $color-hover, $bg, $bg-hover, $border, $border-hover in $variants {
    &_variant-#{$variant} {
      color: $color;
      background-color: $bg;
      border: 2px solid $border;

      &.outer_clickable:hover {
        @if $color-hover {
          color: $color-hover;
        }

        @if $bg-hover {
          background-color: $bg-hover;
        }

        @if $border-hover {
          border-color: $border-hover;
        }
      }
    }
  }

  &_clickable {
    cursor: pointer;
  }

  &_disabled {
    opacity: 0.5;
  }

  &_full {
    width: 100%;
  }

  &_upper {
    text-transform: uppercase;
  }
}

.icon {
  fill: currentcolor;

  @each $size, $value in ('s' 16px, 'm' 22px, 'l' 24px) {
    &_size-#{$size} {
      width: $value;
      height: $value;
    }
  }

  &_right {
    order: 2;
  }
}
