.outer {
  display: flex;
  align-items: center;
}

.pic {
  width: 3.5em;
  height: 3.5em;
  margin-right: 0.75em;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  margin: 0;
}

.title {
  position: relative;
  left: -0.125em;
  font-family: var(--font-secondary);
  font-size: 1.5em;
  font-weight: 700;
}

.slogan {
  font-size: 0.8125em;
}
